.signup{
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 80rem;
  margin-left: auto;
  margin-right: auto;
}
.signupFrom{
  width: 50%;
  border: 1px solid #e5e7eb;     
  padding: 1rem;                 
  margin-bottom: 2.5rem;
  margin-top: 4rem;
  background-color:rgb(229, 212, 177);
  border-radius: 0.5rem;
}
.header{
    display: flex;
    justify-content: center;
    font-weight: 700;
    font-size: 1.25rem;
    margin-bottom: 1.25rem;
}
.input{
    height: 1.5rem;
    border-radius: 0.3rem;
    margin-top: 0.3rem;
    margin-bottom: 0.5rem;
}
.student{
    display: flex;           
    align-items: center;    
    gap: 0.5rem;
}
.recruiter{
    display: flex;
    gap: 1rem;
}
.imageInput{
    display: flex;
    align-items: center;
    gap: 0.4rem;
}
.submit{
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    background-color:darkslategray;
    color: white;
    border: none;
    padding: 0.5rem;
    border-radius:0.4rem;
    transition: all 0.4s;
    width: 100%;
}
.submit:hover{
    background-color: green;
    color: white;
}
.login{
    color: blue;
}
.text{
    font-size: small;
}
.loading{
    margin-right: 2rem;
    width: 2rem;
    height: 2rem;
}