.companies{
  max-width: 72rem; 
  margin-left: auto;
  margin-right: auto;
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
  background-color:lightblue;
  padding: 3rem;
  border-radius: 0.5rem;
  
}
.w-fit {
  width: fit-content;
}
.button:hover{
    background-color: black;
    color: white;
}
.body{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
}
.popcontent{
    min-width: 6.5rem;
    background-color: white;
    padding: 1rem;
}
.edit{
    display: flex;
    align-items: center;
    gap: 0.5rem;
    width: fit-content;
    cursor: pointer;
    padding: 0.5rem;
}
.caption{
  margin-top: 3rem;
}

.row{
  height: 2.5rem;

}
.applicant{
  display: flex;
  align-items: center;
  width: fit-content;
  gap: 0.5rem; /* 8px */
  cursor: pointer;
  margin-top: 0.5rem;
}
