.applyTable{
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 1rem;
}

.input-field{
   margin-top: 0.25rem;     /* my-1 */
  margin-bottom: 0.25rem;
   border-radius: 0.25rem;
   height: 1.3rem;
}

.input-field:focus-visible {
  outline: none;                 /* removes default browser outline */
  box-shadow: none;              /* removes any ring shadow */
  --tw-ring-offset-width: 0px;   /* focus-visible:ring-offset-0 */
  --tw-ring-width: 0px;          /* focus-visible:ring-0 */
}
.input-box{
   display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  margin-top: 1.25rem;   /* my-5 */
  margin-bottom: 1.25rem; 
}
.form {
  padding: 2rem; /* p-8 */
  max-width: 56rem; /* max-w-4xl */
  border-width: 1px; /* border */
  border-style: solid;
  border-color: #e5e7eb; /* border-gray-200 */
  box-shadow: 0 10px 15px -3px rgba(0,0,0,0.1),
              0 4px 6px -4px rgba(0,0,0,0.1); /* shadow-lg */
  border-radius: 0.375rem; /* rounded-md */
}

/* .butto{
  width: 100%;
  margin-top: 2rem;
  height: 1.5rem;
  color: black;
  transition: 0.3s;
  border-radius: 0.3rem;
}
.buttons:hover{
  background-color: black;
  color: white;
} */
.text{
  font-size: 0.75rem;       /* text-xs */
  line-height: 1rem;        /* Tailwind's default for text-xs */
  color: #dc2626;           /* text-red-600 */
  font-weight: 700;         /* font-bold */
  text-align: center;       /* text-center */
  margin-top: 0.75rem;      /* my-3 -> 0.75rem (12px) */
  margin-bottom: 0.75rem;
}
.select{
  width: 180px;
}
.options{
  padding: 1rem;
  border-radius: 0.25rem;
  background-color: white;
}