.Browse{
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2.5rem; 
  margin-bottom: 2.5rem; 
}
.browseJob{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  margin-top: 1.25rem;
}