
.banner__title{
  margin-bottom: 3rem;
  font-size: 3rem;
  color: green;
  padding: 1rem;
  border-radius: var(--border-radius);
}
.heading{
  padding-left: 1rem; 
  padding-right: 1rem;  
  padding-top: 0.5rem;  
  padding-bottom: 0.5rem; 
  border-radius: 9999px; 
  background-color: #f3f3f3; 
  color: #F83002;  
  font-weight: 500; 
  margin: auto;   
}
h1{
    font-size: 3rem;
    line-height: 1;
    font: bold;
}
.searchButton{
  display: flex;         
  width: 43%;                 
  box-shadow: 0 10px 15px rgba(0,0,0,0.1), 0 4px 6px rgba(0,0,0,0.05); /* shadow-lg */
  border: 1px solid #e5e7eb;     
  padding-left: 0.75rem;       
  border-radius: 9999px;       
  align-items: center;          
  gap: 1rem;                     
  margin-left: auto;            
  margin-right: auto;
  height: 1.85rem;            
}
.search{
    height: 5;
    width: 5;
    color: white;
}
