.title{
  font-weight: 800;  
  font-size: 1.5rem; 
  line-height: 1.75rem;
  margin-bottom: 1.25rem;
}
.position1{
    color: #1d4ed8;
    font-weight: 700;
    border-radius: 0.5rem;
    padding: 0.3rem;
}
.position2{
    color: #ec4d4d;
    font-weight: 700;
    border-radius: 0.5rem;
    padding: 0.3rem;
}
.position3{
    color: #bc4dec; 
    font-weight: 700;
    border-radius: 0.5rem;
    padding: 0.3rem;
}
.positions{
    display: flex;
    align-items: center;
    gap: 2rem;
    margin-top: 4px;
}
.desc{
  max-width: 1280px;
  margin-left: auto; 
  margin-right: auto;
  margin-top: 2.5rem; 
  margin-bottom: 2.5rem; 
}
.descBody{
   display: flex;          
  align-items: center;  
  justify-content: space-between; 
}
.isApplied{
    background-color: #4B5563; 
    padding: 0.4rem;
    border-radius: 0.5rem;
    color: white;
}
.appliedFalse{
    background-color: #7200b7;
    color: white;
    padding: 0.4rem;
    border-radius: 0.5rem;
    transition: background-color 0.3s ease;
}
.appliedFalse:hover{
   background-color: #5f32ad; 
}
.jobDesc{
  border-bottom-width: 2px;  
  border-bottom-color: #d1d5db;
  border-bottom-style: solid;
  font-weight: 500;         
  padding-top: 1rem;       
  padding-bottom: 1rem;
}
.role{
  font-weight: 700;  
  margin-top: 0.25rem; 
  margin-bottom: 0.25rem;
}
.fronted{
  padding-left: 1rem;
  font-weight: 400;  
  color: #1f2937;
}
.info{
  margin-top: 1rem;
  margin-bottom: 1rem;
}