.title{
  font-weight: 800;    /* bold */
  font-size: 1.5rem;  /* extra-large text, 20px */
  line-height: 1.75rem;
  margin-bottom: 1.25rem;
}
.position1{
    color: #1d4ed8;   /* Tailwind blue-700 */
    font-weight: 700;
    border-radius: 0.5rem;
    padding: 0.3rem;
}
.position2{
    color: #ec4d4d;   /* Tailwind blue-700 */
    font-weight: 700;
    border-radius: 0.5rem;
    padding: 0.3rem;
}
.position3{
    color: #bc4dec;   /* Tailwind blue-700 */
    font-weight: 700;
    border-radius: 0.5rem;
    padding: 0.3rem;
}
.positions{
    display: flex;
    align-items: center;
    gap: 2rem;
    margin-top: 4px;
}
.desc{
  max-width: 1280px; /* max-w-7xl */
  margin-left: auto;  /* mx-auto */
  margin-right: auto; /* mx-auto */
  margin-top: 2.5rem; /* my-10 */
  margin-bottom: 2.5rem; 
}
.descBody{
   display: flex;           /* flex */
  align-items: center;     /* items-center */
  justify-content: space-between; 
}
.isApplied{
    background-color: #4B5563; /* Tailwind gray-600 */
    cursor: not-allowed;
    padding: 0.4rem;
    border-radius: 0.5rem;
    color: white;
}
.appliedFalse{
    background-color: #7200b7;
    color: white;
    padding: 0.4rem;
    border-radius: 0.5rem;
    transition: background-color 0.3s ease;
}
.appliedFalse:hover{
   background-color: #5f32ad; 
}
.jobDesc{
  border-bottom-width: 2px;   /* border-b-2 */
  border-bottom-color: #d1d5db; /* border-b-gray-300 */
  border-bottom-style: solid;
  font-weight: 500;          /* font-medium */
  padding-top: 1rem;         /* py-4 (16px top & bottom) */
  padding-bottom: 1rem;
}
.role{
  font-weight: 700;     /* font-bold */
  margin-top: 0.25rem;  /* my-1 → 4px top */
  margin-bottom: 0.25rem;
}
.fronted{
  padding-left: 1rem;   /* pl-4 → 16px */
  font-weight: 400;     /* font-normal */
  color: #1f2937;
}
.info{
  margin-top: 1rem;
  margin-bottom: 1rem;
}