.container {
  max-width: 80rem;      
  margin-left: auto;   
  margin-right: auto; 
  margin-top: 3rem;     
  margin-bottom: 5rem;    
}
.headings{
    font-size: 2.25rem;
    line-height: 2rem;  
    font-weight: 700;
}
.jobCard{
  display: grid;          
  grid-template-columns: repeat(3, 1fr); 
  gap: 1rem;               
}
.position1{
    color: #1d4ed8; 
    font-weight: 700;
    border-radius: 0.5rem;
    padding: 0.3rem;
}
.position2{
    color: #ec4d4d; 
    font-weight: 700;
    border-radius: 0.5rem;
    padding: 0.3rem;
}
.position3{
    color: #bc4dec; 
    font-weight: 700;
    border-radius: 0.5rem;
    padding: 0.3rem;
}
.positionss{
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-top: 4px;
}

.JobCard{

    padding: 1.25rem;            
  border-radius: 0.375rem;     
  background-color:rgba(213, 204, 204, 0.601);   
  border: 1px solid #f3f4f6;  
  cursor: pointer;            

  /* shadow-xl */
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
              0 10px 10px -5px rgba(0, 0, 0, 0.04);
}
.name{
    font-weight: 500;    
    font-size: 1.125rem;
    line-height: 1.75rem; 
}
.pera{
  font-size: 0.875rem;  
  line-height: 1.25rem; 
  color: #4b5563;
}
.title{
    font-weight: 700;     
  font-size: 1.125rem;  
  line-height: 1.75rem; 
  margin-top: 0.5rem;    
  margin-bottom: 0.5rem;
}